// HEADER SECTION 

.header {
    padding-top: 1.75rem;
    &__logo {
        a {
            vertical-align: middle;
        }
    }
    &.open {
        .hamburger {
            > span {
                &:first-child {
                    transform: rotate(45deg);
                }
                &:nth-child(2) {
                    opacity: 0;
                }
                &:last-child {
                    transform: rotate(-45deg);
                }
            }
        }
        nav {
            width: 65%;
        }
        .overlay {
            visibility: visible;
        }
    }
    .hamburger {
        position: relative;
        z-index: 100;
        width: 2.5rem;

        > span {
            height: 3px;
            background-color: $veryDarkBlue;
            transform-origin: 10px 1px;
            display: block;
            transition: all 200ms ease-in-out;
            
            &:not(:last-of-type) {
                margin-bottom: 4px;
            }
        }
    }
    .overlay {
        position: absolute;
        width: 100%;
        height: 100vh;
        top:0;
        left: 0;
        background-color: #00001a7d;
        visibility: hidden;
        opacity: 0;
    }
    nav {
        position: absolute;
        right: 0px;
        top: 0;
        background-color: white;
        width: 0;
        height: 100vh;
        overflow-x: hidden;
        z-index: 99;

        @include breakpoint-up(large) {
            position: static;
            height: auto;
            width: auto;
        }

        ul {
            flex-direction: column;
            height: 100vh;
            padding-top: 14rem;
            padding-left: 1.6rem;

            @include breakpoint-up(large) {
                flex-direction: row;
                height: auto;
                padding: 0;
            }
            li {
                &:not(:last-of-type) {
                    margin-bottom: 2.1875rem;
                }
                @include breakpoint-up(large) {
                    &:not(:last-of-type) {
                        margin-bottom: 0;
                        margin-right: 2.5rem;
                    }
                }
                a {
                    font-size: $smallFont;
                    color: $veryDarkBlue;

                }
            }
        }
    }

}